# Dependencies
/node_modules
/.pnp
.pnp.js

# Production build
/build
/dist
/.next
/out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
/coverage

# Testing
/.jest
/test-results

# Environment variables
.env*
!.env.example

# Mac system files
.DS_Store

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Misc
*.log
*.local
